##############################################################################
#   Fallow Configuration
#   ====================

module Fallow
  class Bookmarks
    @@auth = [ 'your_del.icio.us_username', 'your_del.icio.us_password']
  end
  class Flickr
    @@user_id   = 'your flickr user id'
    @@auth      = [ 'your flickr api key', 'your flickr shared secret' ]
  end
end