<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>%title{Mike West}%</title>
    <link rel="stylesheet" href="%STATIC_ROOT%/common.css" type="text/css" media="screen">
@include 'feed_autodiscovery'
</head>
<body>
@include 'universal_header'
    <div class="content">
        <div class="adhoc article" id="adhoc_%adhoc_id%">
            %body%
        </div>
    </div>
@include 'universal_footer'
</body>
</html>