<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Oh Noes!  It's a rampaging %error_code% code!</title>
@include 'head_content'
</head>
<body>
@include 'universal_header'
    <div class="content">
        <div class="article">
            <h2>Oh noes, a %error_code% code is coming <em>right for us</em>!</h2>
            %error_message%
            %debug_data%
        </div>

    </div>
@include 'universal_footer'
</body>
</html>