<link rel="stylesheet" href="%STATIC_ROOT%/common.css" type="text/css" media="screen">

<link rel="alternate" type="application/atom+xml" href="http://feeds.mikewest.org/just_posts" title="Feed (articles only)">
<link rel="alternate" type="application/atom+xml" href="http://feeds.mikewest.org/just_links" title="Feed (del.icio.us links only)">
<link rel="alternate" type="application/atom+xml" href="http://feeds.mikewest.org/omg_everything_ever" title="Feed (Everything Ever)">

<meta name="viewport" content="width=770">