<div class="footer vcard">
    <p>Unless otherwise noted, the content on <a href='%PUBLIC_ROOT%/' class="url" rel="home">mikewest.org</a> is <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" rel="license">licensed for non-commercial reuse</a>.  Thanks for visiting!</p>
    <address><a href="%PUBLIC_ROOT%/is" class="fn">Mike West</a> - <a href='mailto:mike@mikewest.org' class="email">mike@mikewest.org</a></address>
</div>
<script type="text/javascript" src="%STATIC_ROOT%/ga.js"></script>